div.eksempel, div.alert, div.opmærksom, div.fakta, div.analyse {

border: 2px solid #444444;
border-radius: .8em;
padding: 2em .5em 1em 3em;
margin: 2em 1.5em 1.5em 1.5em;
}

div.alert, div.opmærksom {background-color: #faf3e9;}

div.eksempel::before, div.opmærksom::before,div.alert::before,div.fakta::before,div.opmærksomhed::before,div.analyse::before{
margin: -2.7em 0em .5em -1em;
padding: .2em 0em .2em .8em;
font-size: 1.2em;
background-color: white;
display: block;
font-weight: 700;
border: 2px solid #444444;
border-radius: 8px;
}

div.eksempel::before {
content: "Eksempel";
width: 6.6em;
}


div.opmærksom::before,div.alert::before {
content: "Vær opmærksom på";
width: 12em;
background-color: #faf3e9;
}

div.fakta::before {

content: "Fakta Boks";
width: 7em;
}

div.analyse::before {

content: "Analyse";
width: 5.6em;
}

div.idle {

border: 2px solid #444444;
border-radius: 15px;
padding: 90px 20px	30px 60px;
margin: 60px;
background-color: #f0f0f0;
white-space: pre;

}

div.idle::before {

content: "IDLE output";
margin: -107px -0px 30px -40px;
padding: 3px 0px 3px 14px;
font-size: 1.2em;
width: 150px;
background-color: white;
color: #444444;
display: block;
font-weight: 700;
border: 2px solid #444444;
border-radius: 8px;

}
