/*
 * code.css
 * 
 * 
 * 
 * 
 * 
*/


code.term {

font-family: ubuntu mono, mono-type;
display:table;
margin:0 auto ;
font-size: 1.05em;
font-weight: 100;
padding: 1em 0em 1em em;
white-space: pre-wrap;
}

code.cmd {

font-family: ubuntu mono, mono-type;
display:block;
font-size: 1.05em;
font-weight: 100;
padding: 0.5em 1em;
margin: .8em 1em .8em 1em;
color: #404040;
background-color: #D8D8D8 ;
border-left-style: ridge;
border-left-width: .5em;
white-space: pre-wrap;
}


code.more_cmd {

font-family: ubuntu mono, mono-type;
display:block;
font-size: 1.05em;
font-weight: 100;
padding: 0.5em 1em;
margin: -.1em 1em .8em 1em;
color: #404040;
background-color: #D8D8D8 ;
border-left-style: ridge;
border-left-width: .5em;
white-space: pre-wrap;
}

ol code.cmd {

font-family: ubuntu mono, mono-type;
display:inline-block;
font-size: 1.05em;
font-weight: 100;
padding: .5em 1em;
margin: .65em 1em 1.3em 0em;
color: #404040;
background-color: #D8D8D8 ;
width: 90%;
border-left-style: ridge;
border-left-width: .5em;
white-space: pre-wrap;
}

ol code.more_cmd {

font-family: ubuntu mono, mono-type;
display:inline-block;
font-size: 1.05em;
font-weight: 100;
padding: .5em 1em;
margin: -.4em 1em 1.3em 0em;
color: #404040;
background-color: #D8D8D8 ;
width: 90%;
border-left-style: ridge;
border-left-width: .5em;
white-space: pre-wrap;
}

ul code.cmd {

font-family: ubuntu mono, mono-type;
display:inline-block;
font-size: 1.05em;
font-weight: 100;
padding: .5em 1em;
margin: .65em 1em 1.3em 0em;
color: #404040;
background-color: #D8D8D8 ;
width: 90%;
border-left-style: ridge;
border-left-width: .5em;
white-space: pre-wrap;
}

ul code.more_cmd {

font-family: ubuntu mono, mono-type;
display:inline-block;
font-size: 1.05em;
font-weight: 100;
padding: .5em 1em;
margin: -.4em 1em 1.3em 0em;
color: #404040;
background-color: #D8D8D8 ;
width: 90%;
border-left-style: ridge;
border-left-width: .5em;
white-space: pre-wrap;
}


/* pre tag formateret med sort baggrund og Ubuntu font - uden ramme */



code.black {

font-family:ubuntu+mono, courier  ;
color: white;
display:inline-block ;
margin: auto;
font-size: 1.15em;
font-weight: 100;
color: white;
padding: .4em .9em;
background-color: #300a24 ;
width: 900px;
border-style: ridge;
border-width: .2em;
white-space: pre-wrap;

}

pre {
tab-size: 4;

}


pre.black {

font-family:ubuntu+mono, courier  ;
color: white;
display: inline-block, table;
font-size: 1em;
font-weight: 100;
line-height:20px;
padding: 10px 8px;
background-color: #300a24 ;
width: 90%;
white-space: pre-wrap;
margin: auto;
margin-top: 20px;
margin-bottom: 16px;
}


/* pre tag formateret som ubuntu GUI terminal */

pre.ubuntu_terminal {

font-family:ubuntu+mono, courier  ;
color: white;
display:inline-block, table;
font-size: 1em;
font-weight: 100;
line-height:20px;
padding: 10px 5px 12px 5px;
background-color: #300a24 ;
width: 90%;
border-top: 22px solid #474640;
border-radius: 7px 7px 3px 3px;
white-space: pre-wrap;
margin:auto;
margin-top: 20px;
margin-bottom: 16px;
}





p.browser {
font-family:ubuntu+mono, courier;
color: darkblue;
font-size: 1em;
font-weight: 900;
padding-left: 2px;
margin-bottom: -2px;
margin-top: 20px;
background-color: grey ;
color: white;

}
p.browser::before {
content: "Browser Output:";

}



pre.browser {
font-family:ubuntu+mono, courier  ;
display:inline-block, table;
font-size: 1em;
font-weight: 100;
line-height:20px;
padding: 10px 5px 12px 5px;
background-color: white;
white-space: pre-wrap;
margin-bottom: 20px;


}



blockquote {
font-family: ubuntu, arial;
background-color: #f7f7f7  ;
padding: 1.4em 1.4em;
margin: 1.4em;
line-height: 1.5em;
border-radius: 24px;
font-size: 1.1em;
}

blockquote.alert{

background-color: #FAFAD2   ;

}

blockquote.center{

text-align: center;

}


/* http://www.w3schools.com/html/html_colornames.asp */


span.green {color: green;}

span.green1 {color: #78e234;}

span.red {color: #ef2929;}

span.blue {color: blue;}

span.blue1 {color:#729fcf;}

span.violet {color: Orchid   ;}

span.purple {color: #300a24  ;}

span.brown {color: #c4a000  ;}

span.yellow {color: yellow  ;}

span.cyan {color: DarkCyan  ;}

span.turk {color: #34e2e2  ;}

span.grey {color: grey}

span.white {color: white;}

span.white_bg {background-color: white; color: #300a24;}

span.green1_bg {background-color:#78e234 ;}


span.small {font-size: 1em;}

span.bold {font-weight: 900;}

span.italic {font-style: italic;}

span.underline {text-decoration: underline}

span.right {float:right}


span.math {
font-family: serif;
font-style: italic;
font-size: 1.1em;
padding-left: .25em;
padding-right: .25em;
font-weight: 500;
}

span.math sub {

font-size: .7em;	

}

div.latex {
font-size: 1.2em;
margin-left: 60px;
}


/*
kbd {
font-size: 1.1em;
border: 1px solid #444444;
padding: 4px;
margin: 0px 5px 0px 5px;
background-color: #e5e5e5;
color: #333333;
padding: 2px 6px 2px 6px;
border-radius: 5px;
}
*/

kbd {
font-size: 1.1em;
border-left: 1.5px solid #b6b6b6;
border-top: 1.5px solid #b6b6b6;
border-right: 1.5px solid #b6b6b6;
border-bottom: 1.5px solid #949494;
margin: 0px 5px 0px 5px;
color: #333333;
padding: 2px 10px 2px 10px;
border-radius: 6px;

/* IE10+ */ 
background-image: -ms-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(100, #ededeb));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #FDFDFD 0%, #ededeb 100%);

}

span.knap {
font-size: .9em;
border-left: 1.5px solid #b6b6b6;
border-top: 1.5px solid #b6b6b6;
border-right: 1.5px solid #b6b6b6;
border-bottom: 1.5px solid #949494;
margin: 0px 5px 0px 5px;
color: #333333;
padding: 2px 6px 2px 6px;
border-radius: 6px;

/* IE10+ */ 
background-image: -ms-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(100, #ededeb));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #ededeb 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #FDFDFD 0%, #ededeb 100%);

}

span.inl_cmd {

font-family: ubuntu mono, mono-type;
font-style: italic;
font-size: 1.1em;
font-weight: 100;
letter-spacing: .05em;
color: #000000 ;
padding: 0em .2em 0em .2em;

}

div#toc .inl_cmd {

color: #eeeeee;


}




/*
td span.inl_cmd {

font-family: ubuntu mono, mono-type;
font-style: italic;
font-size: 1em;
font-weight: 700;
letter-spacing: .05em;
color: #050505 ;
padding: 0em .2em 0em .2em;

}
*/


span.terminal_valg, span.terminal_valg2 {

font-family: ubuntu mono, mono-type;
background-color: #cf3d2f;
color: #e0e0e0;
padding: 1px 3px;

}

span.terminal_valg2 {

font-family: ubuntu mono, mono-type;
background-color: #cf3d2f;
color: #e0e0e0;
padding: 1px 5px;

}

span.terminal_valg::before {

content: "<";

}

span.terminal_valg::after {

content: ">";

}


details {
font-family: Ubuntu, sans-serif;
font-size: .9em;
border-left: 1.5px solid #b6b6b6;
border-top: 1.5px solid #b6b6b6;
border-right: 1.5px solid #b6b6b6;
border-bottom: 1.5px solid #949494;
margin: 0px 5px 0px 5px;
color: #333333;
padding: 2px 6px 2px 6px;
border-radius: 15px;

background-image: -ms-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);

background-image: -moz-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);

background-image: -o-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100, #cccccc));

background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);

background-image: linear-gradient(to bottom, #f3f3f3 0%, #cccccc 100%);

-webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.4) ;
box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.4) ;
}




details summary {
font-size: 1.2em;
padding: 10px 5px;

}

p#html_intro_kode_resulat{

background-color: #EEEEEE;
padding: 1em;

}
