span.green {color: green;}

span.green1 {color: #7ed829;}

span.red {color: #ef2929;}

span.blue {color: blue;}

span.blue1 {color:#4697ff;}

span.violet {color: Orchid;}

/*
span.purple {color: #300a24;}
*/

span.purple {color: #300a24;}

span.brown {color: #c4a000  ;}

span.yellow {color: yellow  ;}

span.orange {color: #fd8344;}

span.cyan {color: DarkCyan  ;}

span.turk {color: #34e2e2  ;}

span.grey {color: grey}

span.white {color: white;}

span.white_bg {background-color: white; color: #300a24;}

span.green1_bg {background-color:#78e234 ;}

/**** Nye farver ****/

span.terminal_green {color: darkgreen}
span.terminal_blue, span.terminal_tilde {color: blue;}
span.terminal_purple {color: purple}

/**** Farveovergange ****/


div#grad_red {
	
    margin: 10px 5px;
    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #FF0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #FF0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #FF0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #FF0000); /* Standard syntax (must be last) */
}

div#grad_green {
    margin: 10px 5px;
    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #00FF00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #00FF00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #00FF00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #00FF00); /* Standard syntax (must be last) */
}

div#grad_blue {
    margin: 10px 5px;

    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #0000FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #0000FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #0000FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #0000FF); /* Standard syntax (must be last) */
}

div#grad_grey {
    margin: 10px 5px;

    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #FFFFFF); /* Standard syntax (must be last) */
}

div#grey_18p {
background: #777777 ;
margin: 5px 120px;
height: 350px;

}

div#spectrum {

}
