details {
font-family: Ubuntu, sans-serif;
font-size: .9em;
border-left: 1.5px solid #b6b6b6;
border-top: 1.5px solid #b6b6b6;
border-right: 1.5px solid #b6b6b6;
border-bottom: 1.5px solid #949494;
margin: 3em .7em;
color: #333333;
padding: 2px 6px 2px 6px;
border-radius: 15px;

background-image: -ms-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);

background-image: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);

background-image: -o-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(100, #e0e0e0));

background-image: -webkit-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);

background-image: linear-gradient(to bottom, #eeeeee 0%, #e0e0e0 100%);

-webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.4) ;
box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
}

details:hover {
font-family: Ubuntu, sans-serif;
font-size: .9em;
border-left: 1.5px solid #b6b6b6;
border-top: 1.5px solid #b6b6b6;
border-right: 1.5px solid #b6b6b6;
border-bottom: 1.5px solid #949494;
margin: 3em .7em;
color: #333333;
padding: 2px 6px 2px 6px;
border-radius: 15px;

background-image: -ms-linear-gradient(top, #e8e8e8 0%, #d9d9d9 100%);

background-image: -moz-linear-gradient(top, #e8e8e8 0%, #d9d9d9 100%);

background-image: -o-linear-gradient(top, #e8e8e8 0%, #d9d9d9 100%);

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(100, #d9d9d9));

background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #d9d9d9 100%);

background-image: linear-gradient(to bottom, #e8e8e8 0%, #d9d9d9 100%);

-webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.4) ;
box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4) ;
}


details summary {
font-size: 1.2em;
padding: 10px 5px;

}
