.imageBox {
  position: absolute;
  visibility: hidden;
}


figure {

padding: .3em 0em .2em .5em;


}

img.raw_HTML_output {
border: 3px #DD4814 ridge;

}

figure img {

display: block;
margin-left: auto;
margin-right: auto;

}

figure figcaption {

text-align: center;

}

figcaption {

padding: 1em 0em;
font-size: .8em;


}


figure.skub_th {


float:right;
margin-top: -40px;
padding-left: 20px;

}




/* figcaption:before {

content: "Screenshot: ";

}*/

img.frame {
border: 1px #bbbbbb solid;
border-radius: 5px;

}


figure img.p10 {width: 10%;}
figure img.p15 {width: 15%;}
figure img.p20 {width: 20%;}
figure img.p25 {width: 25%;}
figure img.p30 {width: 30%;}
figure img.p35 {width: 35%;}
figure img.p40 {width: 40%;}
figure img.p50 {width: 50%;}
figure img.p60 {width: 60%;}
figure img.p70 {width: 70%;}
figure img.p80 {width: 80%;}
figure img.p90 {width: 90%;}
figure img.p100 {width: 100%;}


img.p10 {width: 10%;}
img.p15 {width: 15%;}
img.p20 {width: 20%;}
img.p25 {width: 25%;}
img.p30 {width: 30%;}
img.p35 {width: 35%;}
img.p40 {width: 40%;}
img.p50 {width: 50%;}
img.p60 {width: 60%;}
img.p70 {width: 70%;}
img.p80 {width: 80%;}
img.p90 {width: 90%;}
img.p100 {width: 100%;}

img.math {
position: relative;
margin-left: 140px;
margin-top: 5px;
padding-bottom:15px;


}

div#grad_red {
	
    margin: 10px 5px;
    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #FF0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #FF0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #FF0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #FF0000); /* Standard syntax (must be last) */
}

div#grad_green {
    margin: 10px 5px;
    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #00FF00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #00FF00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #00FF00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #00FF00); /* Standard syntax (must be last) */
}

div#grad_blue {
    margin: 10px 5px;

    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #0000FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #0000FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #0000FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #0000FF); /* Standard syntax (must be last) */
}

div#grad_grey {
    margin: 10px 5px;

    height: 50px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000000 , #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000 , #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000 , #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000 , #FFFFFF); /* Standard syntax (must be last) */
}

div#grey_18p {
background: #777777 ;
margin: 5px 120px;
height: 350px;

}

div#spectrum {

}

div#pixels_576::before {
content:"hej":
}
