.imageBox {
  position: absolute;
  visibility: hidden;
}


figure {

padding: .3em 0em .2em .5em;


}

figure img {

display: block;
margin-left: auto;
margin-right: auto;

}


figure figcaption {

text-align: center;

}

figcaption {

padding: 1em 0em;
font-size: .8em;

}


/* figcaption:before {

content: "Screenshot: ";

}*/



figure img.p25 {

width: 25%;

}

figure img.p30 {

width: 30%;

}

figure img.p35 {

width: 35%;

}

figure img.p40 {

width: 40%;

}

figure img.p50 {

width: 50%;

}

figure img.p60 {

width: 60%;

}

figure img.p70 {

width: 70%;

}

figure img.p80 {

width: 80%;

}

figure img.p90 {

width: 90%;

}

figure img.p100 {

width: 100%;

}


img.p25 {

width: 25%;

}

img.p30 {

width: 30%;

}

img.p35 {

width: 35%;

}

img.p40 {

width: 40%;

}

img.p50 {

width: 50%;

}

img.p60 {

width: 60%;

}

img.p70 {

width: 70%;

}

img.p80 {

width: 80%;

}

img.p90 {

width: 90%;

}

img.p100 {

width: 100%;

}

img.math {
position: relative;
margin-left: 140px;
margin-top: 5px;
padding-bottom:15px;

}
