
/* Sidebar */

.show:before {
content:"☰ Indholdsfortegnelse";
font-family: ubuntu,sans-serif;
position: fixed;
width: 350px;
font-size: 1.1em;
margin-left: -20px;
padding: .2em;
color: #e0e0e0;
background-color:rgba(10,10,10, .85);


}


header:hover .show:before{ 

color: white;

-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;

 }



div#toc {

display: none;
width: 349px;
position: fixed;
font-size: 1.3em;
margin-left: -20px;
margin-top: 25px;
padding: 20px .2em 15px .2em;
color: #e0e0e0;
background-color:rgba(10,10,10, .85);

}

/* Indholdsfortegnelse */

#toc_title:before {

content: "Indholdsfortegnelse";
}

#toc_title {

font-size: 1.1em;
font-family: ubuntu,sans-serif;
padding-bottom: .6em;
padding-left: .5em;
color: #e0e0e0;

}

#toc_title span{
float: right;
font-size: .45em;
margin-top:1em;
margin-right: 3px;


}

div#toc a {
	text-decoration: none;
	font-family: ubuntu,sans-serif;
	color: #c0c0c0;
	padding-left: .6em;
	
}

div#toc a:hover {
	text-decoration: none;
	color: #f9f9f9;
	padding-left: .65em;
	width: 200px;

}

div#toc:active  {

display: none;

}

/* formatering af H1 i indholdsfortegnelsen*/
div#toc>ul>ul>li>a {
	
	font-size: .8em;



}

div#toc>ul>ul>li {

	list-style-type: none;	
	margin: -.3em 0em;
	padding-bottom: em;

}

/* formatering af H2 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>li>a {
	
	font-size: .75em;

}

div#toc>ul>ul>ul>li {
	
	list-style-type: none;
	padding-left: .5em;
	margin: -.3em 0em;
	margin-bottom: 0em;

}

/* formatering af H3 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>ul>li>a {
	
	font-size: .70em;

}

div#toc>ul>ul>ul>ul>li {

	list-style-type: none;
	padding-left: 1.2em;
	margin: -.3em 0em;
	margin-bottom: 0em;

}


/* formatering af H4 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>ul>ul>li>a {
	
	font-size: 1em;

}

div#toc>ul>ul>ul>ul>ul>li {

	list-style-type: none;
	padding-left: 3em;
	margin: .1em 0em;

}


/* formatering af H5 i indholdsfortegnelsen
 * 
 * Virker ikke :|
 * 
 * */

