/* Indholdsfortegnelse 

div#toc {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent
}*/

/* Indholdsfortegnelse */

div#toc p {

font-size: 1.3em;


}



div#toc a {
	text-decoration: none;
	font-family: ubuntu,sans-serif;
	color: black;
}

div#toc a:hover {
	text-decoration: none;
	color: darkgrey;


}

/* formatering af H1 i indholdsfortegnelsen*/
div#toc>ul>ul>li>a {
	
	font-size: .8em;


}

div#toc>ul>ul>li {

	list-style-type: none;	
	margin: .1em 0em;

}

/* formatering af H2 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>li>a {
	
	font-size: .8em;

}

div#toc>ul>ul>ul>li {
	
	list-style-type: none;
	padding-left: .5em;
	margin: .1em 0em;

}



/* formatering af H3 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>ul>li>a {
	
	font-size: .8em;

}

div#toc>ul>ul>ul>ul>li {

	list-style-type: none;
	padding-left: .8em;
	margin: .1em 0em;

}


/* formatering af H4 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>ul>ul>li>a {
	
	font-size: 1em;

}

div#toc>ul>ul>ul>ul>ul>li {

	list-style-type: none;
	padding-left: 3em;
	margin: .1em 0em;

}


/* formatering af H5 i indholdsfortegnelsen
 * 
 * Virker ikke :|
 * 
 * */


