
/* Sidebar */

#indholds_ikon:before {
content:"☰";
position: fixed;
font-size: 1.3em;
margin-left: 0px;
padding: 5px;
color: #e0e0e0;
background-color:rgba(6,6,6, 0.8);


}

#toggle:hover #indholds_ikon:before{ 

color: #DD4814;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;

 }

div#toc {

display: none;
width: 350px;

}

div#toggle:hover div#toc {

display: block;
position: fixed;
margin-top: 30px;
margin-left: -59px;
padding: 10px 10px 10px 0px;
background-color:rgba(6,6,6, 0.8);

}

#toggle:hover #indholds_ikon:before{ 

color: #DD4814;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;

}

/* Indholdsfortegnelse */

#toc_title:before {

content: "Indholdsfortegnelse";

}

#toc_title {

font-size: 1.3em;
font-family: ubuntu,sans-serif;
padding-bottom: .6em;
padding-left: .5em;
color: #e0e0e0;

}


div#toc a {
	text-decoration: none;
	font-family: ubuntu,sans-serif;
	color: #c0c0c0;
	padding-left: .6em;
	
}

div#toc a:hover {
	text-decoration: none;
	color: #f9f9f9;
	padding-left: .65em;
	width: 200px;

}

div#toc:active  {

display: none;

}

/* formatering af H1 i indholdsfortegnelsen*/
div#toc>ul>ul>li>a {
	
	font-size: 1em;



}

div#toc>ul>ul>li {

	list-style-type: none;	
	margin: .1em 0em;
	padding-bottom: .2em;

}

/* formatering af H2 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>li>a {
	
	font-size: .9em;

}

div#toc>ul>ul>ul>li {
	
	list-style-type: none;
	padding-left: .5em;
	margin-top: -.2em;
	margin-bottom: 0em;

}

/* formatering af H3 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>ul>li>a {
	
	font-size: .9em;

}

div#toc>ul>ul>ul>ul>li {

	list-style-type: none;
	padding-left: 1.2em;
	margin-top: -.2em;
	margin-bottom: .1em;

}


/* formatering af H4 i indholdsfortegnelsen*/

div#toc>ul>ul>ul>ul>ul>li>a {
	
	font-size: 1em;

}

div#toc>ul>ul>ul>ul>ul>li {

	list-style-type: none;
	padding-left: 3em;
	margin: .1em 0em;

}


/* formatering af H5 i indholdsfortegnelsen
 * 
 * Virker ikke :|
 * 
 * */

