 @media print {
 
/*
 * 
 * http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/ 
 * 
 * http://www.hongkiat.com/blog/css3-page-break/
 * 
 */ 
 
@page {

margin: 2cm 2cm;

}

/*   Display   */


header, footer, #toc, .col-sm-3 { display: none;}

.col-sm-9 {margin-left:  -300px;}

ul, ol, img, pre, table, blockquote, div.pagebreak {  page-break-inside: avoid;}

div#toc>ul ul, div#toc { page-break-inside: initial;}

h1 {page-break-before: always;}

p {orphans: 3;}  
 
}


@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
