@import url("ext_styles/xcode.css"); /* Kode til highlight */
@import url("code.css");
@import url("list.css");
@import url("img.css");
@import url("table.css");
@import url("css3.css");
@import url("print.css");
@import url("details.css");
@import url("boxes.css");
/*
@import url("numbering.css");
*/
@import url("color.css");
@import url("elimineres.css");




/* IKKE BRUGTE highlightkoder */

/*
@import url("styles/vs.css");
@import url("styles/stackoverflow-light.css");
@import url("styles/googlecode.css")
*/

[00 - SIDEN GENERELT]

html {padding-bottom: 100px;}
body {max-width: 1400px; margin:auto}
.tocify {max-width: 300px}

body.print {
margin:auto;
background-color: white;
width: 940px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
}

/* headlines */

h1, h2, h3,h4,h5,h6 {font-family: Ubuntu, sans-serif;font-weight: 700;}

h1 {font-size: 3em;padding-top: .6em;}
h2{font-size: 1.6em;padding-top: .7em;}
h3{font-size: 1.3em;padding-top: .7em;}
h4{font-size: 1.1em; padding-top: .7em;}

/*  font størrelser  */

p, li, dd, dt {
font-family: Ubuntu, sans-serif;
margin-bottom: .5em;
line-height: 1.4em;
font-size: 1em;
}

a {color: #337ab7;}

p {padding: .4em .0em .3em .0em;}

em { padding-left: .2em;
padding-right: .2em;}

p.right {
text-align: right;
margin-right: 2em;
margin-top: -1em;
}

p.right:before {content: "Eksempel: ";}

p.center { text-align: center;}

/* TOC */
[00 - TOC]

#toc {
margin-top: 1em;
margin-left: -20px;
border-color: #337ab7;
}

#toc_headline:before {content:"Indhold";}

#toc_headline {
font-weight: 500;
font-size: 1em;
padding-top: .7em;
padding-bottom: .7em;
padding-left: .7em ;
color: white;
background-color: #337ab7;}

.tocify-header {
	display:inline;
}

#toc a{color: #337ab7;}

[00 - TOC - NUMBERING]

/* Reset Counter */
html {counter-reset: section;}
nav {counter-reset: section;}
div.col-sm-9 {counter-reset: section;}
h2 {counter-reset: subsection;}
h3 {counter-reset: subsubsection;}
h4 {counter-reset: subsubsubsection;}
h5 {counter-reset: subsubsubsubsection;}

/* Nummerering i teksten*/
h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}
h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}
h4::before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}
h5::before {
    counter-increment: subsubsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection)  "." counter(subsubsubsection) " ";
}

/* nummerering i jquery.tocify */
.tocify-header li :nth-child(1):before {
    counter-increment: section;
    content: counter(section) " "; 
   }
.tocify-subheader {
counter-reset:subsection;
}
.tocify-subheader li :nth-child(1):before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
   }
.tocify-subheader .tocify-subheader {
counter-reset:subsubsection;
}
.tocify-subheader .tocify-subheader li :nth-child(1):before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) " "
   }
.tocify-subheader .tocify-subheader .tocify-subheader {
counter-reset:subsubsubsection;
}
.tocify-subheader .tocify-subheader .tocify-subheader li :nth-child(1):before {
    counter-increment: subsubsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(subsubsubsection) " "
   }

[00 - footer]

footer {
max-width: 1400px; 
}




footer img {

width:60px;
margin: .6em

}


/*
 * 
 * Afsnit om fonte
 * 
 * */

div.paper .afsnit {font-family: arial;font-size: 1.8em;}
div.paper p {font-family: times;}

div.screen {font-family: verdana;}
div.screen .afsnit {font-size: 1.8em;}


div.comic .afsnit {font-size: 1.8em;font-family: "Comic Sans MS"}
div.comic p {font-family: "Comic Sans MS"}

div.symboler .afsnit {font-size: 1.8em;font-family: webdings}
div.symboler p {font-family: webdings;}

div#negativ_tekst {
color: white;
background-color: #707070;

}



