
/*
@import url("reset.css");
@import url("indholdsfortegnelse.css");
@import url("table.css");

*/
@import url("code_new.css");
@import url("list.css");
@import url("img.css");
@import url("table.css");
@import url("css3.css");
@import url("print.css");
@import url("footer.css");
@import url("toc.css");
@import url("details.css");
@import url("styles/geany.css");
@import url("numbering.css");




/* Siden generelt */



html {

/*
background-color: #DD4814;
*/
padding-bottom: 100px;

}

body {
/*
background-color: white;
*/
}

body.print {

margin:auto;
background-color: white;
width: 940px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;

}






/* headlines */

div.title {
	font-family: Ubuntu, sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 4.5em;
	padding: 40px 0px;

}

h1, h2, h3,h4,h5,h6 { 

	font-family: Ubuntu, sans-serif;
	font-weight: 700;

}

/*
h1 { padding: 1.5em 0em .3em 0em; font-size: 2em; }

h2 {padding: 1em 0em .3em 0em; font-size: 1.6em; }

h3 {padding: 1.2em 0em .3em 0em; font-size: 1.4em; }

h4 {padding: 1em 0em .3em 0em; font-size: 1.2em;}
*/


h1 {font-size: 2.3em;padding-top: .6em;}

h2{font-size: 1.6em;padding-top: .6em;}

h3{font-size: 1.3em;}



span.afsnit {
display: inline-block; 
font-family: Ubuntu; 
font-weight: 900; 
font-size: 1.2em; 
margin-top: 16px; 
margin-bottom: 12px;
}


/*  font størrelser  */

p, li {
font-family: Ubuntu, sans-serif;
margin-bottom: .5em;
line-height: 1.4em;
font-size: 1.1em;

}

div.fed{

font-family: Ubuntu, sans-serif;
font-weight: 700;
font-size: 1.1em;
padding-top: 1em;

}

/* Formatering af billeder */





div.ordforkl {

	font-family: Ubuntu, sans-serif;
	font-size: .8em;
	margin-left: 2em;

}




/* generelle padding og marginer  */

p {

padding: .4em .0em .3em .0em;

}

p.right {
text-align: right;
margin-right: 2em;
margin-top: -1em;
}

p.right:before {

content: "Eksempel: ";

}

p.center { text-align: center;}


/*
 * 
 * Afsnit om fonte
 * 
 * */

div.fonts {
border: 1px solid black;
margin: 1em 4em;
padding: 1em 4em 1em 4em;

}

div.paper .afsnit {font-family: arial;font-size: 1.8em;}
div.paper p {font-family: times;}

div.screen {font-family: verdana;}
div.screen .afsnit {font-size: 1.8em;}


div.comic .afsnit {font-size: 1.8em;font-family: "Comic Sans MS"}
div.comic p {font-family: "Comic Sans MS"}

div.symboler .afsnit {font-size: 1.8em;font-family: webdings}
div.symboler p {font-family: webdings;}

div#negativ_tekst {
color: white;
background-color: #707070;

}



