/*Generelle indstillinger*/


table {
margin : 0 auto;
margin-top: 1.2em;
margin-bottom: 1.6em;
width:90%;
border-collapse: collapse;
/*font-family: ubuntu mono, sans-serif;*/


}

table thead th {

background-color: #585858 ;
color: #E8E8E8  ;
font-family: Ubuntu mono;
border: .1em solid black  ;
padding: 1em .4em;
}


td {

border: .1em solid black  ;
padding: .5em .4em;

}

table.cmd_table thead tr th:first-child:before {

content: "Kommando";

}

table.cmd_table thead tr th:nth-child(2):before {

content: "Beskrivelse";

}


table.cmd_table tbody tr td {




}




table.cmd_table tbody tr td:first-child {

/**/
color: #404040;
width:280px;
font-size: 1em;
font-family: ubuntu mono;
font-weight: 500;

}

table.ugeskema {
font-family: ubuntu;
font-size: 1.1em;


}

table.ugeskema thead tr th:first-child {

width: 10%;
text-align: center;

}

table.ugeskema thead tr th:nth-child(2){

width: 45%;
text-align: center;

}

table.ugeskema thead tr th:nth-child(3){

width: 45%;
text-align: center;

}

table.ugeskema tbody tr td:first-child {

text-align: center;

}



table.centreret {

text-align: center;

}

table.fixed {
table-layout: fixed;
white-space:nowrap;

}



table.centreret thead th {

background-color: #585858 ;
color: #E8E8E8  ;
font-family: Ubuntu mono;
text-align: center;

}




/* Classes */

tr.lightgreybc {
background:  #F0F0F0;


}

table.ternetpapir tr td {

border-color:#aaaaaa;

}


.ternetpapir tr {

height: 60px;

}

table.ternetpapir  {

width: 1920px;
margin-left: -14px;

}

table.regneark thead tr th {

text-align: center;

}


table.regneark tbody tr td:first-child {

background-color: #585858 ;
color: #E8E8E8  ;
width: 10%;
text-align: center;

}

table.regneark tbody tr td:first-child {

background-color: #585858 ;
color: #E8E8E8  ;
width: 10%;
text-align: center;

}

table.regneark tbody tr td:nth-child(2) {width: 22.5%;}
table.regneark tbody tr td:nth-child(3) {width: 22.5%;}
table.regneark tbody tr td:nth-child(4) {width: 22.5%;}
table.regneark tbody tr td:nth-child(5) {width: 22.5%;}

table.bootstrap_grid_table {

background-color: #eeeeee;
border: 3px white solid;

}

table.bootstrap_grid_table td {

background-color: #eeeeee;
border: 3px white solid;

}


