.offcanvas{
    width:60% !important;
}  

body {
    padding-bottom: 120px;
}

canvas.mycanvas {

    width: 200px;
    height: 100px;
    border:1px solid grey;

}

input::placeholder {
    
    font-size: .7em;

}

.font-oblique {

    font-style: oblique;

}

.visual_68 {
    
    background-color: mediumaquamarine;
    

}


.visual_95 {

    background-color: lightseagreen;
}


.visual_99 {

    background-color:green;
    color:rgb(231, 231, 231);
    
}