h1 {font-size: 3em;}
p {font-size: 1.2em;}
/* button {font-size: 10em;} */

.p_dice {
  /* display:block; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: .3em;
  background-color: ivory;
  height: 1.8em;
  width: 1.8em;
  display:flex;
  align-items: center;
  justify-content:center;
  font-size: 3em;
}

.coin {
  /* display:block; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: .9em;
  background-color: ivory;
  height: 1.8em;
  width: 1.8em;
  display:flex;
  align-items: center;
  justify-content:center;
  font-size: 3em;
}



/* .p_dice .DiceNumber {
  font-size: 3.2em;
  } */

.offcanvas{
    width:60% !important;
}  