
h1 {font-size: 3em;}
p {font-size: 1.2em;}

.dice_fz {
 font-size: 3em;


}



.offcanvas{
  width:60% !important;
}  

.dice_0, .dice_1, .dice_2, .dice_3, .dice_4, .dice_5, .dice_6, .dice_7, .dice_8, .dice_9, .dice_10, .dice_11, .dice_12 , .dice_13, .dice_14, .dice_15 {
  width: 5em;
  height: 5em;
  border: 1px solid black;
  border-radius: .8em;
  background-color: ivory;
  display:inline-block;
  align-items: center;
  justify-content:center;
  margin: .5em;
}

/* .standard_dice_image {

display:flex;
align-items: center;
justify-content:center;

}

.hide_element{
  display:none;


} */