h1, h2, h3, h4,p, ul, ol {
	margin: 0em;
}

footer {
padding: 0em;

}


h1 {

	font-size: 3em;
	text-align: center;

	
}

ul.none {

list-style-type: none;



}
/*

.dring_list li {

padding-top: -5em;


}



.drink_list li a{


font-size: 1.6em;



}
*/

.opskrift p{

padding: 3em;

}
