body {

    padding-bottom: 100px;
    
}

h2 {
    font-size: 1.6em;
    padding-top: 1em;
}

h3 {
    font-size: 1.2em;
    padding-top: 1em;

}
h4 {
    font-size: 1em;
    padding-top: 1em;
}

/* drinks side menu */

a.spirits_category {
    font-size: 1.5em;
    

}

ul.specific_drinks li a{
    font-size: 1.2em;

}


/* glas og shaker billeder */

.img_box { 
    max-height: 120px;
    padding-bottom: 1em;

}

.img_box img{

    margin: 1px;
    width: 16% !important;
    max-width: 110px !important

}

.glass_presentation img {

    max-width: 100px;    

}





.book_presentation img {
    max-width: 200px;

    
    
}


.presentation { 
    max-height: 300px;
    padding-bottom: 1em;

}

.presentation img {

    /* width: 200px !important; */
    max-width: 70px !important;
    max-height: 500px !important;
    vertical-align: top !important;

}

.presentation .description {

    margin-top: 20px;
    margin-left: 4em;


}

.presentation .description p {

    margin-bottom: .5em;

}