	
/* Universel fontstørrelse (standard) */
* {
font-size: 16px;
}

/* Overordnet formatering der gælder alle overskrifttyper */	
h1, h2, h3 {	
font-family: arial;
font-weight: 900;
}

/* Formatering der gælder de enkelte overskrifttyper */
h1 {
font-size: 2.2em;
}

h2 {
font-size: 1.8em;
}

h3 {
font-size: 1.3em;
}

/* Formatering der gælder <p> */
p { 
font-family: verdana;   
}	

/* farvekoder tilføjet 01 */
	
p#red {
color: red;
}

p.blue {
color: blue;
}

/* farvekoder tilføjet 02 */

#green {
color: green;
}

.grey_background {

background-color: grey;

}

